@use '../variable/index' as *;
@use '../reset'as *;

@import url('https://fonts.googleapis.com/css2?family=Emblema+One&family=Indie+Flower&display=swap');

// 將整個menu固定在畫面的右上
#menu {
    width: 222px;
    height: 367px;

    position: fixed;
    top: 25%;
    right: 0;

    z-index: 999;

    display: flex;

    .menu-toggle {
        width: 164px;
        position:absolute;
        top: 0;
        left:0;
        cursor: pointer;
    }

    .menu-panel {
        width: 130px;
        height: 338px;
        position: absolute;
        top: 29px;
        left: 98px; 
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        background: url('../images/menu/menu-panel-bg.png') no-repeat center;
        background-size: cover;
        padding: 1rem 0.8rem;
        border-radius: 20px 0 0 20px;
        // box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

        // opacity: 0;
        transform: translateX(20px);
        pointer-events: none;
        transition: all 0.3s ease-in-out;

        .menu-item {
            // transition: transform 0.2s ease;

            &:hover {
                transform: scale(1.05);
            }

            cursor: pointer;
            display: flex;
            align-items: center;
            gap: 0.5rem;
            padding: 15px 12px;
            border-radius: 999px;
            color: $color-light;
            font-family: $font-E;
            font-size: $font-size-m;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);

            img {
                width: 24px;
                height: 24px;
            }

            &.home {
                background-color: $color-yellow;
            }

            &.room {
                background-color: $color-red;
            }

            &.cart {
                background-color: $color-blue;
            }

            &.about {
                background-color: $color-green;
            }

            &:hover {
                transform: scale(1.05);
                transition: transform 0.2s;
            }
        }
    }

    &.open .menu-panel {
        opacity: 1;
        transform: translateX(0);
        pointer-events: auto;
    }
}