@use '../variable/index' as *;
@use '../reset' as *;

@import url('https://fonts.googleapis.com/css2?family=Emblema+One&family=Indie+Flower&display=swap');

.material-panel {
  position: absolute;
  bottom: 0;
  right:100px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding: 16px;
  background-color: $color-primary;
  border-radius: 10px;
  width: fit-content;

  .material-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); // 每列 4 個
    grid-template-rows: repeat(4, auto); // 共 2 列
    gap: 16px; // 元素間距（你可依需求調整）
  }
}