@use '../variable/index' as *;
@use '../reset' as *;

@import url('https://fonts.googleapis.com/css2?family=Emblema+One&family=Indie+Flower&display=swap');

.material-item {
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color:$color-light;
  cursor: pointer;

  img {
    width: 60%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
}

// 為了不同分類寫不同大小，從MaterialPanel加了動態的category className
.category-facialExpression{
  img{
    width: 100%;
  }
}
.category-accessories{
  img{
    width: 100%;
  }
}
.category-others{
  img{
    width: 45%;
  }
}
