@use '../variable/index' as *;
@use '../reset' as *;

@import url('https://fonts.googleapis.com/css2?family=Emblema+One&family=Indie+Flower&display=swap');

.material-item {
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color:$color-light;
  cursor: pointer;

  img {
    width: 50%;
    height: auto;
    display: block;
    margin: 0 auto;
  }

  // p {
  //   font-size: 14px;
  //   color: #333;
  // }
}
