// Primary
$color-primary: #ECB3CB;  // pink

// Secondary
$color-pink-light: #FFF0F6;
$color-brown-light: #D8BC93;
$color-yellow: #E9C039;
$color-red: #EA6F43;
$color-blue: #43A4EA;
$color-green: #74CF5D;

// Neutral
$color-charcoal: #383838;
$color-gray: #E8EBEE;
$color-light: #FFFAFA;
$color-deep-gray: #B1B1B1;


// alpha
$alpha:transparent;
$alpha-w20: rgba(255,255,255,.2);
$alpha-w30:rgba(255,255,255,.3);
$alpha-w40:rgba(255,255,255,.4);
$alpha-w50:rgba(255,255,255,.5);
$alpha-b15: rgba(0,0,0,.15);
$alpha-b30: rgba(0,0,0,.30);
$alpha-b60: rgba(0,0,0,.60);
