// font-family
$font-E:'Emblema One', cursive;
$font-I:'Indie Flower', cursive;

//font-size
$font-size-xs:.8rem;
$font-size-s:1rem; //預設16px
$font-size-m:1.2rem;
$font-size-l:1.5rem;
$font-size-xl:1.8rem;
$font-size-xxl:2rem;
$font-size-h2:2.5rem;
$font-size-xxxl:3rem;

// 行高
$line-h-s:1;
$line-h-m:1.2;
$line-h-l:1.5;

// 字重
// $lighter:100;
// $normal:400;
// $bold:600;
// $bolder:700;
