$space-s: 10px;
$space-m: 20px;


// x auto
$space-x-a:0 auto;
// 只有x軸有間距
$space-x-s:0 5px;
$space-x-m:0 10px;
$space-x-l:0 15px;

// 只有y軸有間距
$space-y-s:5px 0;
$space-y-m:10px 0;

$space-y-l-vh:10vh 0;

$space-xy-s:5px 10px;
$space-xy-m:10px 20px;


$space-title-s:10px 0;