// RWD斷點
$media-sm:"max-width:640px";
$media-sm-up:"min-width:641px";
$media-md:"max-width:820px";
$media-lg:"max-width:1024px";

//速率
$speed-fast:0.35s;
$speed-slow:0.45s;

// 邊框
$border-s:1px solid;
$border-m:2px solid;
$border-l:3px solid;

// 圓角

$radius-ex:99px;
$radius-s:5px;
$radius-m:8px;
$radius-l:16px;

// 排序
$z-bg:-1;
$z-ex:999;