@use './variable/index' as *;
@use './function/index' as *;
@use './reset' as*;

@use './components/footer';

@use './homepage/heroWithIntro';
@use './homepage/menu';
@use './homepage/manual';
@use './homepage/merch';
@use './homepage/receipt';
@use './homepage/cartSteps';

@use './decorate/MaterialPanel.scss';
@use './decorate/MaterialItem.scss';
@use './decorate/ClearButton.scss';
@use './decorate/CustomShelfCanvas.scss';
@use './decorate/DownloadButton.scss';
@use './decorate/Shelf.scss';
@use './decorate/Toolbar.scss';


@import url('https://fonts.googleapis.com/css2?family=Emblema+One&family=Indie+Flower&display=swap');

main.index section{
    flex-direction: column;
    // height: 100vh;
}

// 緩慢滑動效果
html {
  scroll-behavior: smooth;
}

// 裝飾頁設定
.decorate-page{
  position: relative;
  width: 100%;
  height: 100vh;
}