@use '../variable/index' as *;
@use '../function/index' as *;





#merch {
    background-color: $color-charcoal;
    position: relative;
    width: 100%;
    z-index: 1; //為了在粉色背景底下
    overflow: visible;


}

.model {
    position: relative;
    width: 100%;
    margin: 0 auto;
    overflow: visible;

    .merch-with-card {
        width: 100%;
        overflow: visible;

        .item-img {
            width: 100%;
            cursor: pointer;
        }

        .item-card-wrapper {
            position: absolute;
            z-index: 10;
            pointer-events: auto;

            // 共用大小
            width: 90vw;
            max-width: 480px;

            // 預設 float-right
            top: 0;
            left:80%;
        }

        // 左側浮出
        &.float-left .item-card-wrapper {
            top: 0;
            right: 100%;
            left: auto;
            transform: translateX(-20px);
        }

        // 上方浮出
        &.float-top .item-card-wrapper {
            top: -130%;
            left: 50%;
            transform: translate(-50%, -20px);
        }

        // 下方浮出
        &.float-bottom .item-card-wrapper {
            top: 80%;
            left: 50%;
            transform: translate(-50%, 0);
        }
    }

    .item-card {
        .card-bg {
            width: 100%;
            height: auto;
            display: block;
        }

        .card-content {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            padding: 7% 7%;
            box-sizing: border-box;

            display: flex;
            flex-direction: column;
            justify-content: space-between;


            h3 {
                font-size: $font-size-m;
                font-family: $font-I;
                padding-bottom: 5%;
                white-space: nowrap;
            }

            p {
                font-size: $font-size-s;
                font-family: $font-I;
            }

            .desc {
                padding: 5% 0;
            }

            .bottom-row {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .price {
                    font-size: $font-size-xxl;
                }

                .numCount {
                    display: flex;
                    align-items: center;
                    gap: 5px;

                    img {
                        width: 24px;
                    }

                    .num {
                        width: 45px;
                        height: 30px;
                        text-align: center;
                        background-color: $color-pink-light;
                        border-radius: 5px;
                        font-family: $font-I;
                    }
                }

                .btn-all {
                    display: flex;
                    flex-direction: column;

                    button {
                        all: unset;
                        display: flex;
                        justify-content: flex-end;
                        gap:10%;
                    }

                    span {
                        font-size: $font-size-xs;
                        font-family: $font-I;
                        white-space: nowrap;
                    }

                    img {
                        width: 24px;
                    }
                }
            }
        }
    }
}



/* 左側貼紙 */

.cart-sticker-img {
    position: absolute;
    top: 8%;
    left: -2%;
    width: 12%;

    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 1000;
    transition: transform 0.3s;

    &:hover {
        transform: scale(1.1);
    }


}

/* 滑出購物車卡片 */
.cart-popup {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 900; // 確保蓋在商品區上
    pointer-events: auto;
    opacity: 0;
    transform: translateX(-100%);
    transition: none;

    &.slide-in {
        animation: popup-slide-in 0.8s ease-out forwards;
    }

    &.slide-out {
        animation: popup-slide-out 0.8s ease-out forwards;
    }


    /* 手 */
    .hand {
        background: url('./public/images/merch/hand.png') no-repeat;
        background-size: contain;
        width: 75%;
        height: 34%;
        position: absolute;
        top: 36%;
        left: -36%;

        z-index: 999;
        pointer-events: none;
    }

    /* 步驟卡片 */
    .cart-step {
        /* 卡片共同設定 */

        position: absolute;
        top: 21%;
        left: 18%;
        background: url('./public/images/merch/cart-card.png') no-repeat center center;
        background-size: contain; //  原比例縮放、完整顯示
        width: 67%;
        aspect-ratio: 4 / 3; //  強制維持寬高比例
        padding: 80px;

        display: none;
        text-align: center;
        box-sizing: border-box;

        flex-direction: column;
        align-items: center;

        .title {
            display: flex;
            margin-bottom: 2rem;
            gap: 1rem;

            h2 {
                font-size: $font-size-h2;
            }

            img {
                width: 24px;
            }
        }

        // 按鈕共同設定
        .page-btn {
            all: unset;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            width: fit-content;
            gap: 10px;
            padding: 5px 10px;
            background-color: $color-primary;
            border-radius: 10px;

            p {
                font-family: $font-I;
                font-size: $font-size-l;

            }

            div {
                width: 24px;
            }

        }

        // 表單focus樣式
        input:focus,
        select:focus {
            border: 2px solid $color-primary;
            outline: none;
            box-shadow: 0 0 8px rgba($color-primary, 0.3);
            // transition: border 0.3s, box-shadow 0.3s;
        }

    }

    /* Step 1: 購物車 */
    .step1 {

        /* 購物車清單 */
        .item-list {

            font-family: $font-I;
            display: flex;
            flex-direction: column;
            gap: 3rem;

            .item {
                display: flex;
                align-items: center;
                gap: 1rem;

                img {
                    width: 24px;
                }

                .photo {
                    width: 80px;
                    height: 80px;
                    background-color: $color-pink-light;
                    border-radius: $radius-s;
                    @extend %flex-center;

                    img {
                        width: 80%;
                    }
                }

                .item-name {
                    font-size: $font-size-l;
                    text-align: left;
                    flex-grow: 1;
                }

                .priceNum {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin-left: auto;

                    .price {
                        white-space: nowrap;
                        font-size: $font-size-xxl;
                    }

                    .numCount {
                        display: flex;
                        gap: 0.5rem;

                        .num {
                            @extend %flex-center;
                            width: 45px;
                            height: 30px;
                            background-color: $color-pink-light;
                            border-radius: $radius-s;
                            font-size: $font-size-l;
                        }
                    }
                }

            }
        }

        /* 總計及結帳按鈕 */
        .totalCheck {
            display: flex;
            align-items: center;
            margin-left: auto;
            gap: 1rem;

            font-family: $font-I;

            .total {
                font-size: $font-size-xxxl;
            }

            .currency {
                font-size: $font-size-l ;
            }

            .price {
                font-size: 6rem;
            }

            .next-btn {
                display: flex;
                flex-direction: column;
                align-items: center;
                font-family: $font-I;
                background-color: $color-primary;
                border: none;
                border-radius: 30px;
                padding: 10px;
                cursor: pointer;

                img {
                    width: 48px;
                }

                p {
                    font-size: $font-size-s ;
                }

                box-shadow: 3px 3px 5px 0px rgba(56, 56, 56, 0.30),
                -4px -4px 10px 0px rgba(255, 255, 255, 0.40),
                3px 3px 3px 0px rgba(255, 255, 255, 0.90) inset,
                -5px -5px 10px 0px rgba(56, 56, 56, 0.30) inset;
            }

        }

    }

    /* Step 2:輸入地址 */
    .step2 {

        /* 按鈕區 */
        // 裝按鈕的大容器
        .btn-all {
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin-bottom: 2%;
        }

        /* 表單區 */
        #address-form {
            font-family: $font-I;
            display: flex;
            gap: 2rem;
            flex-wrap: wrap;
            width: 100%;
            padding: 0 4%;

            .col1,
            .col2 {
                flex: 1;
                min-width: 350px;
                display: flex;
                flex-direction: column;

                gap: 0.5rem;
            }

            label {
                font-size: $font-size-l;
                color: $color-charcoal;
                text-align: left;
            }

            input,
            select {
                padding: 0.5rem 1rem;
                font-size: $font-size-m;

                border-radius: 8px;
                border: 1px solid $color-deep-gray;

                &::placeholder {
                    font-family: $font-I;
                    color: $color-deep-gray;
                    ;
                }
            }

            select {
                appearance: none; // 去除預設箭頭（部分瀏覽器）
                -webkit-appearance: none;
                -moz-appearance: none;
                background-image: url('./images/merch/icon/arrow-down-icon.svg'); // 可放右側箭頭
                background-repeat: no-repeat;
                background-position: right 1rem center;
            }


        }

    }

    /* Step 3:付款資訊 */
    .step3 {

        // 按鈕+右側顯示付款方式
        .btn-payment {
            display: flex;
            width: 100%;
            justify-content: space-between;
            color: $color-charcoal;
            padding-bottom: 25px;

            .payment-text {
                span {
                    display: block;
                    width: fit-content;
                    font-size: $font-size-l ;
                    font-family: $font-I;
                }
            }
        }

        // 付款所有內容區
        .payment-content-all {
            display: flex;
            width: 100%;
            height: 70%;
            gap: 6%;

            label {

                font-family: $font-I;
                color: $color-charcoal;
            }

            img {
                width: 48px;
            }

            // col-left-all
            .payment-total {
                flex: 1;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                // 選擇付款方式
                .payment-selection {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;

                    label {
                        font-size: $font-size-l;
                    }

                    .row1,
                    .row2,
                    .row3 {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        .icon {
                            display: flex;
                        }
                    }
                }

                // 總價顯示
                .total-price {
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    font-family: $font-I;

                    .currency {
                        font-size: $font-size-l;
                    }

                    .total {
                        font-size: 6rem;
                    }
                }
            }

            // col-right-all
            .creditCard-and-btn {
                flex: 1;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 95%;

                // 輸入卡號區（粉色背景）
                .creditCard-input-all {
                    padding: 20px 25px 30px 25px;
                    background-color: $color-pink-light;
                    border-radius: 20px;


                    // icon
                    .icon {
                        display: flex;
                        padding-bottom: 15px;
                    }

                    // 卡號填寫
                    .input-credit {

                        input {
                            height: 30px;
                            background-color: $color-light;
                            border: 1px solid $color-charcoal;
                            border-radius: $radius-m;
                        }

                        label {
                            font-size: $font-size-m;
                        }

                        .row1,
                        .col1,
                        .col2 {
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            gap: 12px;
                        }

                        .row2 {
                            display: flex;
                            gap: 1rem;
                            margin-top: 15px;

                            .col1,
                            .col2 {
                                flex: 1;
                            }
                        }

                        .card-number {
                            width: 100%;
                        }

                        .card-cvc {
                            width: 100%
                        }

                        .card-expiry {
                            width: 100%;
                        }
                    }


                }

                // 按鈕區
                .checkout-btn {
                    cursor: pointer;
                    width: 100%;
                    padding: 10px;
                    border-radius: 100px;
                    border: none;
                    background: var(--Primary, #ECB3CB);
                    box-shadow: 3px 3px 5px 0px rgba(56, 56, 56, 0.30), -4px -4px 10px 0px rgba(255, 255, 255, 0.40), 3px 3px 3px 0px rgba(255, 255, 255, 0.90) inset, -5px -5px 10px 0px rgba(56, 56, 56, 0.30) inset;

                    p {
                        font-size: $font-size-m;
                        font-family: $font-I;
                        color: $color-charcoal;
                        white-space: nowrap;
                    }
                }
            }


        }

    }

    /* Step 4:處理中 */
    .step4 {
        justify-content: center;
        align-items: center;

        .all-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 25px;
            padding-bottom: 70px;

            h2 {
                font-size: $font-size-h2;
                color: $color-charcoal;
                margin-bottom: 30px;
            }

            p {
                font-family: $font-I;
                font-size: $font-size-m;
                color: $color-charcoal;
            }
        }
    }

    /* Step 5:完成畫面 */
    .step5 {
        justify-content: space-between;

        .btn-notice {
            align-self: flex-end;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            gap: 1rem;
            font-family: $font-I;
            color: $color-charcoal;

            button {
                cursor: pointer;
                font-family: $font-I;
                color: $color-charcoal;
                font-size: $font-size-m;
                width: 80%;
                padding: 10px;
                border-radius: 100px;
                border: none;
                background: var(--Primary, #ECB3CB);
                box-shadow: 3px 3px 5px 0px rgba(56, 56, 56, 0.30), -4px -4px 10px 0px rgba(255, 255, 255, 0.40), 3px 3px 3px 0px rgba(255, 255, 255, 0.90) inset, -5px -5px 10px 0px rgba(56, 56, 56, 0.30) inset;
            }

            p {
                font-size: $font-size-s;
            }
        }
    }


}


.cart-step.active {
    display: flex;
    opacity: 1;
}

// 卡片動畫
@keyframes popup-slide-in {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes popup-slide-out {
    0% {
        transform: translateX(0);
        opacity: 1;
    }

    100% {
        transform: translateX(-100%);
        opacity: 0;
    }
}