@use '../variable/index' as *;
@use '../function/index' as *;





#merch {
    background-color: $color-charcoal;
    position: relative;
    width: 100%;
    z-index: 1; //為了在粉色背景底下
    overflow: visible;


}

.model {
    position: relative;
    width: 100%;
    margin: 0 auto;
    overflow: visible;

    .merch-with-card {
        width: 100%;
        overflow: visible;

        .item-img {
            width: 100%;
            cursor: pointer;
        }

        .item-card-wrapper {
            position: absolute;
            z-index: 10;
            pointer-events: auto;

            // 共用大小
            width: 90vw;
            max-width: 480px;

            // 預設 float-right
            top: 0;
            left: 80%;
        }

        // 左側浮出
        &.float-left .item-card-wrapper {
            top: -30%;
            right: 140%;
            left: auto;
            transform: translateX(-20px);
        }

        // 上方浮出
        &.float-top .item-card-wrapper {
            top: -150%;
            left: 50%;
            transform: translate(-50%, -20px);
        }

        // 下方浮出
        &.float-bottom .item-card-wrapper {
            top: 80%;
            left: 10%;
            transform: translate(-50%, 0);
        }
    }

    .item-card {
        .card-bg {
            width: 120%;
            height: auto;
            display: block;
        }

        .card-content {
            position: absolute;
            top: 0;
            left: 0;
            width: 120%;
            height: 100%;
            padding: 7% 7%;
            box-sizing: border-box;

            display: flex;
            flex-direction: column;
            justify-content: space-between;


            h3 {
                font-size: $font-size-l;
                font-family: $font-I;
                padding-bottom: 5%;
                white-space: nowrap;
            }

            p {
                font-size: $font-size-m;
                font-family: $font-I;
            }

            .desc {
                padding: 5% auto;
            }

            .bottom-row {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .price {
                    font-size: $font-size-h2;
                }

                .numCount {
                    display: flex;
                    align-items: center;
                    gap: 5px;

                    img {
                        width: 24px;
                    }

                    .num {
                        width: 45px;
                        height: 30px;
                        text-align: center;
                        background-color: $color-pink-light;
                        border-radius: 5px;
                        font-family: $font-I;
                        font-size: $font-size-l ;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                    }
                }

                .btn-all {
                    display: flex;
                    flex-direction: column;

                    button {
                        all: unset;
                        display: flex;
                        justify-content: flex-end;
                        gap: 10%;
                        cursor: pointer;
                        transition: all 0.2s ease-in-out;

                        &:hover {
                            animation: pulse 1s infinite;
                        img{
                            transform: rotate(8deg);
                        }
                        
                        }
                    }


                    span {
                        font-size: $font-size-s;
                        font-family: $font-I;
                        white-space: nowrap;
                    }

                    img {
                        width: 24px;
                    }
                }
            }
        }
    }
}



/* 左側貼紙 */

.cart-sticker-img {
    position: absolute;
    top: 21%;
    left: -1%;
    width: 10%;

    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 1000;
    transition: transform 0.3s;

    &:hover {
        transform: scale(1.1);
    }


}

