@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes shine {
  0% {
    transform: scale(.9);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 30px rgba(#ECB3CB, 0);
  }
    100% {
   transform: scale(.9);
    box-shadow: 0 0 0 0 rgba(#ECB3CB, 0);
  }
}